@import url(https://fonts.googleapis.com/css?family=B612&display=swap);

body {
    padding-top: 70px;
    overflow: hidden;
    font-family: B612;
    overflow-y: scroll;
}

.navbar {
    text-transform: uppercase;
    font-weight: 700;
    font-size: .9rem;
    letter-spacing: .1rem;
    background-color: rgba(250,192,194)!important;
}

.navbar-nav li {
    padding-right: .7rem;
    text-transform: uppercase;
}

.navbar-dark .navbar-nav .nav-link {
    color: #fff;
    padding-top: .8rem;
}


.padding-rows {
  padding: 20px;
}
